{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %} Delete {{ object.name }}{% endblock title %}


{%block content %}
<div class="container mt-5">
  <div class="row">
    <h2 class="text-center">
      Do you want to delete CV:{{ object.title }} ?
    </h2>
  </div>
  <div class="row mt-">
    <div class="col-md-2 offset-md-2">
      <form class="delete" method="POST" action="{% url 'cv:cv_delete' object.pk %}">
        {% csrf_token %}
        {{ form | crispy }}
        <button class="primaryAction btn btn-danger" type="summit">Delete</button>
      </form>
    </div>
  </div>
</div>
{% endblock content %}
