{% extends "base.html" %}

{% load i18n %}
{% load account socialaccount %}
{% load crispy_forms_tags %}

{% block head_title %}{% translate "skills" %}{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <h2 class="text-center">
      skills
    </h2>
  </div>
  {% if skills %}

  <div class="row">
    <div class="col">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Title</th>
            <th scope="col">Updated</th>
            <th scope="col">Created</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          {% for skill in skills %}
          <tr>
            <th scope="row"><a href="{% url 'users:skill_detail' skill.pk %}">{{ skill.title }}</a></th>
            <td>{{ skill.updated_at }}</td>
            <td>{{ skill.created_at }}</td>
            <td>
              <a href="{% url 'users:skill_edit' skill.pk %}">edit</a>
              /
              <a href="{% url 'users:skill_delete' skill.pk %}">delete</a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

  {% else %}
  <div class="row">
    <div class="col">
      No skills
    </div>
  </div>
  {% endif %}
  <div class="row">
    <div class="col mt-5">
      <a href="{% url 'users:skill_create' %}" class="btn btn-primary">{% translate "Create" %}</a>
    </div>
  </div>
  {% endblock %}
