{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %} Cover Letter {% endblock title %}


{%block content %}
<div class="container">
  <div class="row">
    <h2 class="text-center">
      Edit Cover Letter {{ object.name }}
    </h2>
  </div>
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <form class="create" method="POST" action="{% url 'cover_letter:cover_letter_edit' object.id %}">
        {% csrf_token %}
        {{ form | crispy }}
        <button class="primaryAction btn btn-primary" type="submit">Save</button>
      </form>
    </div>
  </div>
</div>
{% endblock content %}
