{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %} Cover Letter {% endblock title %}


{%block content %}
<div class="container">
  <div class="row">
    <h2 class="text-center">
      Edit Cover Letter {{ object.name }}
    </h2>
  </div>
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <form class="create" method="POST" action="{% url 'cover_letter:cover_letter_edit' object.id %}">
        {% csrf_token %}
        {{ form | crispy }}
        <button class="primaryAction btn btn-primary" type="submit">Save</button>
      </form>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-md-8 offset-md-2" hx-get="{% url 'cover_letter:cover_letter_suggestion' object.id %}"  hx-target="#suggestion">
      <button class="btn btn-warning" type="submit"><i class="bi bi-lightning-charge-fill"></i>Add Suggestion</button>
    </div>
    <div id="suggestion"></div>
  </div>
</div>
{% endblock content %}


{% block sidebar %}
{% if jobs %}
<div class="col-5">
  <select class="form-select" name="job" aria-label="Select Job" hx-trigger="change" hx-get="{% url 'job:job_analysis' %}"  hx-target="#job-analysis">
    <option selected>Select the Job you want see the details</option>
    {% for job in jobs %}
    <option value="{{ job.pk }}">{{ job.name }}</option>
    {% endfor %}
  </select>
  <div id="job-analysis" class="mt-3">
  </div>
</div>
{% endif %}
{% if job %}
<div class="col-5">
  <div id="job-analysis" class="mt-3">
    {% for detail in job_details %}
    {% with json=detail.json_detail %}
    {% include "job/detail_analysis.html" %}
    {% endwith %}
    {% endfor %}
  </div>
</div>
{% endif %}
{% endblock sidebar %}

