{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %} Job {% endblock title %}


{% block content %}
<div class="container">
  {% if cvs and job.status == 0 %}
  <div class="row">
    <div class="col-4 offset-8">
      <form method="post" class="input-group" action="{% url 'cover_letter:cover_letter_create_automatic' %}">
        {% csrf_token %}
        <input type="hidden" name="job" value="{{ job.pk }}">
        <select name="cv" class="form-control">
          {% for cv in cvs %}
          <option value="{{ cv.pk }}">{{ cv.name }}</option>
          {% endfor %}
        </select>
        <button type="submit" class="btn btn-primary">Create Cover Letter</button>
      </form>
    </div>
  </div>
  {% endif %}
  <div class="row">
    <h2 class="text-center">
      <a href="{{ job.url }}" blank=_>{{ job.name }}</a>
    </h2>
  </div>
  <div class="row mt-3">
    <div class="col-6">
      {{ job.raw_description }}
    </div>
    <div class="col-6" id="detail">

    {% for detail in job_details %}
      {% with json=detail.json_detail %}
      {% include "job/detail_analysis.html" %}
      {% endwith %}
    {% endfor %}
    </div>
  </div>
  <div class="row">
    <div class="d-flex flex-row-reverse">
      <a class="btn btn-warning mx-3" href="{% url 'job:job_edit' job.pk %}">edit</a>
      <a class="btn btn-danger mx-3" href="{% url 'job:job_delete' job.pk %}">delete</a>
    </div>
  </div>
</div>
{% endblock content %}

