{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %} Job {% endblock title %}


{% block content %}
<div class="container">
  <div class="row">
    <h2 class="text-center">
      <a href="{{ job.url }}" blank=_>{{ job.name }}</a>
    </h2>
  </div>
  <div class="row mt-3">
    <div class="col-6">
      {{ job.raw_description }}
    </div>
    <div class="col-6" id="detail">

    {% for detail in job_details %}
      {% with json=detail.json_detail %}
      {% include "job/detail_analysis.html" %}
      {% endwith %}
    {% endfor %}
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-md-2 offset-md-2">
      <a class="btn btn-warning" href="{% url 'job:job_edit' job.pk %}">edit</a>
    </div>
    <div class="col-md-2">
      <a class="btn btn-danger" href="{% url 'job:job_delete' job.pk %}">delete</a>
    </div>
  </div>
</div>
{% endblock content %}

