{% extends "base.html" %}

{% load i18n %}
{% load account socialaccount %}
{% load crispy_forms_tags %}

{% block head_title %}{% translate "Abouts" %}{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <h2 class="text-center">
      Abouts
    </h2>
  </div>
  {% if abouts %}

  <div class="row">
    <div class="col">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Title</th>
            <th scope="col">Updated</th>
            <th scope="col">Created</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        {% for about in abouts %}
        <tbody>
          <tr>
            <th scope="row"><a href="{% url 'users:about_detail' about.pk %}">{{ about.title }}</a></th>
            <td>{{ about.updated_at }}</td>
            <td>{{ about.created_at }}</td>
            <td>
              <a href="{% url 'users:about_edit' about.pk %}">edit</a>
              /
              <a href="{% url 'users:about_delete' about.pk %}">delete</a>
            </td>
          </tr>
        </tbody>
      </table>
      {% endfor %}
    </div>
  </div>

  {% else %}
  <div class="row">
    <div class="col">
      No Abouts
    </div>
  </div>
  {% endif %}
  <div class="row">
    <div class="col">
      <a href="{% url 'users:about_create' %}" class="btn btn-primary">{% translate "Create" %}</a>
    </div>
  </div>
  {% endblock %}
