{% extends "base.html" %}

{% load i18n %}
{% load account socialaccount %}
{% load crispy_forms_tags %}

{% block head_title %}{% translate "Jobs" %}{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <h2 class="text-center">
      Jobs
    </h2>
  </div>
  {% if jobs %}

  <div class="row">
    <div class="col">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Title</th>
            <th scope="col">Status</th>
            <th scope="col">Deadline</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          {% for job in jobs %}
          <tr>
            <th scope="row"><a href="{% url 'job:job_detail' job.pk %}">{{ job.name }}</a></th>
            <td>{{ job.get_status_display }}</td>
            <td>{{ job.deadline }}</td>
            <td>
              <a href="{% url 'job:job_edit' job.pk %}">edit</a>
              /
              <a href="{% url 'job:job_delete' job.pk %}">delete</a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

  {% else %}
  <div class="row">
    <div class="col">
      No jobs
    </div>
  </div>
  {% endif %}
  <div class="row">
    <div class="col">
      <a href="{% url 'job:job_create' %}" class="btn btn-primary">{% translate "Create" %}</a>
    </div>
  </div>
  {% endblock %}
