{% extends "base.html" %}

{% load i18n %}
{% load account socialaccount %}
{% load crispy_forms_tags %}

{% block head_title %}Projects{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <h2 class="text-center">
      Projects
    </h2>
  </div>
  {% if projects %}

  <div class="row">
    <div class="col">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Title</th>
            <th scope="col">URL</th>
            <th scope="col">Updated</th>
            <th scope="col">Created</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          {% for project in projects %}
          <tr>
            <th scope="row"><a href="{% url 'users:project_detail' project.pk %}">{{ project.title }}</a></th>
            <td>{{ project.url }}</td>
            <td>{{ project.updated_at }}</td>
            <td>{{ project.created_at }}</td>
            <td>
              <a href="{% url 'users:project_edit' project.pk %}">edit</a>
              /
              <a href="{% url 'users:project_delete' project.pk %}">delete</a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

  {% else %}
  <div class="row">
    <div class="col">
      No Projects
    </div>
  </div>
  {% endif %}
  <div class="row">
    <div class="col">
      <a href="{% url 'users:project_create' %}" class="btn btn-primary">{% translate "Create" %}</a>
    </div>
  </div>
  {% endblock %}
