{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %} social_network {% endblock title %}


{%block content %}
<div class="container">
  <div class="row">
    <h2 class="text-center">
      {{ social_network.name }}
    </h2>
  </div>
  <div class="row mt-3">
    <div class="col">
      <a target="_blank" href="{{ social_network.url }}" >{{ social_network.url }}</a>
    </div>
  </div>

  <div class="row mt-5">
    <div class="col-md-2 offset-md-2">
      <a class="btn btn-warning" href="{% url 'users:social_network_edit' social_network.pk %}">edit</a>
    </div>
    <div class="col-md-2">
      <a class="btn btn-danger" href="{% url 'users:social_network_delete' social_network.pk %}">delete</a>
    </div>
  </div>
</div>
{% endblock content %}
