{% extends "base.html" %}

{% load i18n %}
{% load account socialaccount %}
{% load crispy_forms_tags %}

{% block head_title %}{% translate "educations" %}{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <h2 class="text-center">
      educations
    </h2>
  </div>
  {% if educations %}

  <div class="row">
    <div class="col">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Title</th>
            <th scope="col">Updated</th>
            <th scope="col">Created</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          {% for education in educations %}
          <tr>
            <th scope="row"><a href="{% url 'users:education_detail' education.pk %}">{{ education.title }}</a></th>
            <td>{{ education.updated_at }}</td>
            <td>{{ education.created_at }}</td>
            <td>
              <a href="{% url 'users:education_edit' education.pk %}">edit</a>
              /
              <a href="{% url 'users:education_delete' education.pk %}">delete</a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

  {% else %}
  <div class="row">
    <div class="col">
      No educations
    </div>
  </div>
  {% endif %}
  <div class="row">
    <div class="col">
      <a href="{% url 'users:education_create' %}" class="btn btn-primary">{% translate "Create" %}</a>
    </div>
  </div>
  {% endblock %}
