{% load static i18n %}
<div class="d-flex flex-column flex-shrink-0 p-3 bg-body-tertiary">
  <ul class="nav nav-pills flex-column mb-auto">
    <li class="nav-item">
      <a href="{% url "users:about_list" %}" class="nav-link active" aria-current="page">
        About Me
      </a>
    </li>
    <li>
      <a href="{% url "users:experience_list" %}" class="nav-link link-body-emphasis">
        Experience
      </a>
    </li>
    <li>
      <a href="{% url "users:education_list" %}" class="nav-link link-body-emphasis">
        Education
      </a>
    </li>
    <li>
      <a href="{% url "users:skill_list" %}" class="nav-link link-body-emphasis">
        Skills
      </a>
    </li>
    <li>
      <a href="{% url "users:project_list" %}" class="nav-link link-body-emphasis">
        Projects
      </a>
    </li>
    <li>
      <a href="{% url "users:social_list" %}" class="nav-link link-body-emphasis">
        Socials
      </a>
    </li>
  </ul>
</div>
