{% extends "base.html" %}

{% load i18n %}
{% load account socialaccount %}
{% load crispy_forms_tags %}

{% block head_title %}{% translate "experiences" %}{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <h2 class="text-center">
      Experiences
    </h2>
  </div>
  {% if experiences %}

  <div class="row">
    <div class="col">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Title</th>
            <th scope="col">Updated</th>
            <th scope="col">Created</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          {% for experience in experiences %}
          <tr>
            <th scope="row"><a href="{% url 'users:experience_detail' experience.pk %}">{{ experience.title }}</a></th>
            <td>{{ experience.updated_at }}</td>
            <td>{{ experience.created_at }}</td>
            <td>
              <a href="{% url 'users:experience_edit' experience.pk %}">edit</a>
              /
              <a href="{% url 'users:experience_delete' experience.pk %}">delete</a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

  {% else %}
  <div class="row">
    <div class="col">
      No experiences
    </div>
  </div>
  {% endif %}
  <div class="row">
    <div class="col">
      <a href="{% url 'users:experience_create' %}" class="btn btn-primary">{% translate "Create" %}</a>
    </div>
  </div>
  {% endblock %}
